<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/bootstrap-grid.css">
    <link rel="stylesheet" href="../../css/bootstrap-reboot.css">
    <link rel="stylesheet" href="../../fontawesome/css/font-awesome.css">
    <link rel="stylesheet" href="../../fontawesome/css/font-awesome.min.css">
    <style>
        .img :hover {
            border: 1px solid #2f2f2f;

        }

        body {
            background: lightgray;
        }

        .darkBlue {
            color: #000000;
            border-bottom: 5px solid;
            border-color: #b10101;
            font-family: Century, serif;
            font-weight: normal;
        }
    </style>
    <title>LT NEWS!</title>


</head>
<body>
<div class="container p-1 mx-auto">
    <nav class="navbar navbar-expand-lg navbar-dark bg-info p-lg-2 mx-auto justify-content-center">
        <div class="navbar-brand p-1 text-md-center align-content-center">
            <a href="../main.html">
                <img src="../../img/main-logo.jpg" class="rounded-left" width="100px" height="50px">
            </a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 align-items-center">
                <li class="nav-item active">
                    <a class="nav-link" href="../main.html"><b>HOME</b></span></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="MacedonianNews/news.html" id="navbarDropdownMenuLink"
                       role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><b>NEWS</b>
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="navbarDropdownMenuLink">
                        <ul>
                            <a class="dropdown-item" href="../MacedonianNews/Macedonian.html">Macedonian </a>
                            <a class="dropdown-item" href="../WorldNews/World.html">World</a>
                            <a class="dropdown-item" href="../SportNews/Sport.html">Sport</a>
                            <a class="dropdown-item" href="../GamingNews/Gaming.html">Gaming</a>
                        </ul>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <b>LIVE STREAM</b>
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="navbarDropdownMenuLink1">
                        <ul>
                            <a class="dropdown-item" href="#">Macedonian </a>
                            <a class="dropdown-item" href="#">World</a>

                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><b>ABOUT US</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><b>CONTACT</b></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>
<div class="container mt-2 bg-light">
    <div class="row">
        <div class="m-md-4 m-sm-2 col-lg-8 col-sm-12 p-sm-0">
            <h1>
                <a class="darkBlue" href="../../templates/WorldNews/World.html">WORLD NEWS</a>
            </h1>
        </div>
        <div class="col-lg-12 col md-8 col-sm-12 pb-3 p-sm-0">
            <!-- Title -->
            <div class="col-12 pb-3">
                <h2>US wildfires fuelled by climate change, California governor says


                </h2>
            </div>
            <!-- Title -->
            <!-- Image -->
            <div class="col-12 ">
                <img src="https://ichef.bbci.co.uk/news/660/cpsprodpb/56F7/production/_114336222_063280172-1.jpg"  width="100%" alt="Card image cap">
            </div>
            <!-- Image -->
            <!-- Paragraphs -->
            <div class="col-12 pt-3">
                <p><b>The deadly wildfires sweeping through US West Coast states show that the debate around climate change is "over", California Governor Gavin Newsom says.

                </b>
                </p>
                <p>
                    "Just come to the state of California. Observe it with your own eyes," he told reporters from a charred mountainside.
                </p>
                <p>
                    Fires have been raging in California, Oregon and Washington for three weeks.
                </p>
                <p>
                    Fanned by winds amid record heat, the blazes have burnt millions of acres, destroyed thousands of homes, and killed at least 25 people.
                </p>
                <p>
                    On Friday Oregon Governor Kate Brown said dozens were missing in her state alone.
                </p>
                <p>
                    The fires have burnt a total 4.5m acres - an area larger than Connecticut and slightly smaller than Wales - in recent weeks, according to the National Interagency Fire Center.
                </p>
                <p>
                The governor, a Democrat, spoke on Friday as he inspected damage from the North Complex Fire, near Oroville in Northern California.
                </p>
                <p>
                "The debate is over, around climate change," Mr Newsom told reporters. "This is a climate damn emergency. This is real and it's happening."
                </p>
                <p>
                He acknowledged failings in forest management in recent decades, but added: "That's one point, but it's not the point."
                </p>
                <p>
                Highlighting the states effort to combat climate change, he said the record heat waves and unprecedented fires were the sort of problems long forecast by scientists.
                </p>
                <p>
                President Donald Trump, a climate sceptic, has stressed poor fire-control measures as the main cause of the latest blazes.
                </p>
                <p>
                "You've got to clean your forests - there are many, many years of leaves and broken trees and they're... so flammable," he told a rally last month.
                </p>
                <br>
                <img src="https://ichef.bbci.co.uk/news/590/cpsprodpb/165B/production/_114332750_oregon_wildfires_11.09_640map-nc.png" width="100%">
                <br>
                <br>
            </div>
            <!-- Paragraphs -->
            <!-- Likes Shares Views -->
            <div class="float-right p-2 pr-3">
                <small class="p-0">
                    <button class="btn btn-default btn-sm p-1">Like <span class="fa fa-heart text-danger"></span> 15
                    </button>
                </small>
                <small class="p-0">
                    <button class="btn btn-default btn-sm p-1">Share <span class="fa fa-share text-primary"></span> 6
                    </button>
                </small>
                <small class="p-0 ">
                    <span class="btn btn-default btn-sm p-1">Views <span class="fa fa-eye text-dark"></span> 46 </span>
                </small>
            </div>
            <!-- Likes Shares Views -->
        </div>
    </div>




    <!-- Related News -->
    <div class="row ml-md-4 ml-lg-4 ml-sm-0">
        <h3 class="m-1 darkBlue">RELATED NEWS</h3>
    </div>
    <div class="row ml-md-3 ml-lg-3 ml-sm-0">

        <div class="col-md-9 col-lg-3 col-sm-4 m-md-4 ml-lg-5 ml-md-4 ml-sm-0 p-0 card">
            <div class="card-header m-0 p-0">
                <a href="afghanistanwar.html">
                    <img src="https://www.rnz.co.nz/assets/news_crops/109177/eight_col_068_AA_29022020_32377.jpg?1599886757"
                         width="100%">
                </a>
                <span class="badge badge-warning rounded-0">World</span>
                <h5 class="p-1"><b><a class="text-dark" href="afghanistanwar.html">
                    Afghanistan war: 'Historic' peace talks with Taliban begin</a></b></h5>

            </div>
            <div class="card-body">
                <p>
                    The first peace talks between the Afghan government and the Taliban have begun in the Gulf state of Qatar, after months of delay.
                </p>
            </div>
            <div class="card-footer">
                <a href="afghanistanwar.html" class="btn btn-primary "> Read this</a>
            </div>
        </div>

        <div class="col-md-9 col-lg-3 col-sm-4 m-md-4 p-0 card">

            <div class="card-header m-0 p-0">
                <a href="greecevsturkey.html">
                    <img src="../../img/UK-People.jpg"
                         width="100%">
                </a>
                <span class="badge badge-warning rounded-0">World</span>
                <h5 class="p-1"><b><a class="text-dark" href="greecevsturkey.html">Tiny island Kastellorizo at centre of growing confrontation between Greece and Turkey
                </a></b></h5>

            </div>
            <div class="card-body mt-2">
                <p class="pt-2">
                    It’s a mere 12km square, yet this small island is at the heart of a dangerous “Pandora’s box” which could see two European nations go to battle.

                </p>
            </div>
            <div class="card-footer">
                <a href="greecevsturkey.html" class="btn btn-primary "> Read this</a>

            </div>
        </div>
        <div class="col-md-9 col-lg-3 col-sm-4 m-md-4 p-0 card">

            <div class="card-header m-0 p-0">
                <a href="pandemic.html.html">
                    <img src="https://globalnews.ca/wp-content/uploads/2020/09/voting-machines-maryland-3.jpg?quality=85&strip=all&w=1200"
                         width="100%">
                </a>
                <span class="badge badge-warning rounded-0">World</span>
                <h5 class="p-1"><b><a class="text-dark" href="pandemic.html.html">Pandemic leads to critical shortage of U.S. election workers
                </a></b></h5>

            </div>
            <div class="card-body mt-2">
                <p class="pt-2">
                    Eleanor Green, a 79-year-old from Baltimore, wasn’t planning to stay at home on Nov. 3. She was prepared to wake up early on U.S. Election Day to help voters cast ballots by volunteering to work at the polls. The pandemic changed all that. “Look, with great reluctance, I said no,” Green says, “I just don’t think this is the year for me to do it.”
                </p>
            </div>
            <div class="card-footer">
                <a href="pandemic.html.html" class="btn btn-primary "> Read this</a>

            </div>
        </div>

    </div>
    <!-- Related News -->

</div>



<!--Footer-->
<footer class="page-footer font-small  text-center ">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Grid row-->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 py-5">
                <div class="mb-5 flex-center">

                    <!-- Facebook -->
                    <a class="fb-ic" style="color: cornflowerblue;">
                        <i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic" style="color: cornflowerblue;">
                        <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!-- Google +-->
                    <a class="gplus-ic" style="color: cornflowerblue;">
                        <i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic" style="color: cornflowerblue;">
                        <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic" style="color: cornflowerblue;">
                        <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Pinterest-->
                    <a class="pin-ic" style="color: cornflowerblue;">
                        <i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>
                    </a>
                </div>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-light">© 2020 Copyright: LT News</div>
    <!-- Copyright -->

</footer>
<!-- Footer -->

<!--Script -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<!--Script -->

</body>
</html>