<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/bootstrap-grid.css">
    <link rel="stylesheet" href="../../css/bootstrap-reboot.css">
    <link rel="stylesheet" href="../../fontawesome/css/font-awesome.css">
    <link rel="stylesheet" href="../../fontawesome/css/font-awesome.min.css">
    <style>
        .img :hover {
            border: 1px solid #2f2f2f;

        }
        body{
            background: lightgray;
        }
        .darkBlue{
            color: #000000;
            border-bottom: 5px solid;
            border-color: #b10101;
            font-family: Century,serif;
            font-weight: normal;
        }
    </style>
    <title>LT NEWS!</title>



</head>
<body>
<div class="container p-1 mx-auto">
    <nav class="navbar navbar-expand-lg navbar-dark bg-info p-lg-2 mx-auto justify-content-center">
        <div class="navbar-brand p-1 text-md-center align-content-center">
            <a href="../main.html">
                <img src="../../img/main-logo.jpg" class="rounded-left" width="100px" height="50px">
            </a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 align-items-center">
                <li class="nav-item active">
                    <a class="nav-link" href="../main.html"><b>HOME</b></span></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="MacedonianNews/news.html" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><b>NEWS</b>
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="navbarDropdownMenuLink">
                        <ul>
                            <a class="dropdown-item" href="../MacedonianNews/Macedonian.html">Macedonian </a>
                            <a class="dropdown-item" href="../WorldNews/World.html">World</a>
                            <a class="dropdown-item" href="../SportNews/Sport.html">Sport</a>
                            <a class="dropdown-item" href="../GamingNews/Gaming.html">Gaming</a>
                        </ul>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <b>LIVE STREAM</b>
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="navbarDropdownMenuLink1">
                        <ul>
                            <a class="dropdown-item" href="#">Macedonian </a>
                            <a class="dropdown-item" href="#">World</a>

                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><b>ABOUT US</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><b>CONTACT</b></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>
<div class="container mt-2 bg-light">
    <div class="row">
        <div class="m-md-4 m-sm-2 col-lg-8 col-sm-12 p-sm-0">
            <h1>
                <a class="darkBlue" href="../../templates/SportNews/Sport.html">SPORT NEWS</a>
            </h1>
        </div>

        <div class="col-lg-12 col md-8 col-sm-12 pb-3 p-sm-0">
            <!-- Title -->
            <div class="col-12 pb-3">
                <h2>Debutants Gabriel and Willian impressed as Arsenal blew away promoted Fulham in the opening game of the Premier League season.

                </h2>
            </div>
            <!-- Title -->
            <!-- Image -->
            <div class="col-12 ">
                <img src="https://ichef.bbci.co.uk/onesport/cps/800/cpsprodpb/824A/production/_114345333_gabriel.jpg"  width="100%" alt="Card image cap">
            </div>
            <!-- Image -->
            <!-- Paragraphs -->
            <div class="col-12 pt-3">
                <p><b>Gabriel is the third defender to score for Arsenal on his Premier League debut, after Steve Bould (1992) and Thomas Vermaelen (2009)
                </b>
                </p>
                <p>
                    Former Chelsea winger Willian had a hand in all three goals and Gabriel - a £23m signing from Lille - scored in his first game in English football.
                </p>
                <p>
                    Arsenal were highly impressive, while Fulham caused themselves too many problems at the back.
                </p>
                <p>
                    Both sides have played and won at Wembley - twice for the Gunners - in the 48 days since the last Premier League season finished.
                </p>
                <p>
                    Alexandre Lacazette scored the opener from close range after Willian's effort was saved.
                </p>
                <p>
                    Centre-back Gabriel then scored from Willian's corner with his shoulder. Willian, who also hit a post from a free-kick, picked out Pierre-Emerick Aubamayeng with a perfect cross-field ball and the captain curled home Arsenal's third.
                </p>
                <p>
                    Arteta admitted he was surprised at how well Gabriel played on his first game since March when Ligue 1 was curtailed.
                </p>
                <p>
                    "He hadn't played any football for six months so to come and play a game in the Premier League after training with the team for three or four days is a big task," he told BBC Sport.
                </p>
                <p>
                    "The boy showed a lot of character and what he can do. He can still improve a lot but he had a really good game.
                </p>
                <p>
                    "Willian knows the league, the country and is very settled here so I knew his performance would settle straight away."
                </p>
                <p>
                    Fulham created few chances, with last season's top scorer Aleksandar Mitrovic coming on with only 27 minutes to go and forcing Bernd Leno into a save.
                </p>
                <br>
                <br>
                <img src="https://ichef.bbci.co.uk/onesport/cps/800/cpsprodpb/1459A/production/_114345338_hector.jpg">
                <br>
                <br>
                <p>
                Arteta said: "On the first day you always have butterflies. It's been a strange pre-season. Yesterday was the first day we had the full squad together training."
                </p>
                <p>
                Arsenal substitutes Dani Ceballos and Eddie Nketiah clashed twice in the pre-match warm-up over a training drill, but there was total harmony among the 11 players who started.
                </p>
                <p>
                Fulham had little answer to Arteta's tactics. Ainsley Maitland-Niles was nominally a left wing-back but spent a lot of his game in midfield, with central defender Kieran Tierney playing almost as a left-back.
                </p>
                <p>
                Mohamed Elneny and Granit Xhaka, whose Arsenal careers looked over last season, had solid performances in midfield.
                </p>
                <p>
                Leno started in goal, with Emiliano Martinez, who ended last season as number one with Leno injured, set to join Aston Villa for £20m.
                </p>
                <p>
                For the fourth season in a row it took less than 10 minutes for the opening goal of a Premier League season, with Lacazette becoming the first player to score the first goal in two different seasons. He made no mistake from close range after Marek Rodak parried Willian's shot.
                </p>
                <p>
                The dominant Gunners should have been further clear at half-time, with Willian striking the base of a post with a fine free-kick.
                </p>
                <p>
                The second half followed the same pattern and Arsenal made the game safe.
                </p>
                <p>
                Gabriel became the third Arsenal defender to score on his Premier League debut as he turned home Willian's corner. He tried to head the ball but it went in via his shoulder. The new laws this season say if the ball hits the area where a T-shirt sleeve would be, that it is not handball.
                </p>
                <p>
                Aubameyang scored the pick of the goals with a trademark curling effort from another Willian pass.
                </p>
                <p>
                Willian is the first player to assist two goals on his Premier League debut for Arsenal since Ray Parlour in August 1992 against Liverpool.
                </p>
                <p>
                Arsenal could have scored more if they needed, but this will be exactly what Arteta, whose job title changed from head coach to manager this week, wanted to see.
                </p>
            </div>
            <!-- Paragraphs -->
            <!-- Likes Shares Views -->
            <div class="float-right p-2 pr-3">
                <small class="p-0">
                    <button class="btn btn-default btn-sm p-1">Like <span class="fa fa-heart text-danger"></span> 15
                    </button>
                </small>
                <small class="p-0">
                    <button class="btn btn-default btn-sm p-1">Share <span class="fa fa-share text-primary"></span> 6
                    </button>
                </small>
                <small class="p-0 ">
                    <span class="btn btn-default btn-sm p-1">Views <span class="fa fa-eye text-dark"></span> 46 </span>
                </small>
            </div>
            <!-- Likes Shares Views -->
        </div>
    </div>

    <!-- Related News -->
    <div class="row ml-md-4 ml-lg-4 ml-sm-0">
        <h3 class="m-1 darkBlue">RELATED NEWS</h3>
    </div>
    <div class="row ml-md-3 ml-lg-3 ml-sm-0">

        <div class="col-md-9 col-lg-3 col-sm-4 m-md-4 ml-lg-5 ml-md-4 ml-sm-0 p-0 card">
            <div class="card-header m-0 p-0">
                <a href="chelsea.html">
                    <img src="https://ichef.bbci.co.uk/onesport/cps/800/cpsprodpb/8CBB/production/_114372063_rep.jpg"
                         width="100%">
                </a>
                <span class="badge badge-warning rounded-0">Sport</span>
                <h5 class="p-1"><b><a class="text-dark" href="chelsea.html">
                    Brighton 1-3 Chelsea: Timo Werner impresses but Chelsea must resolve Kepa issue
                </a></b></h5>

            </div>
            <div class="card-body">
                <p>
                    Chelsea saw a glimpse into a glittering future but also demonstrated why familiar old failings need
                    to be addressed as they opened their Premier League season with victory at Brighton.

                </p>
            </div>
            <div class="card-footer">
                <a href="chelsea.html" class="btn btn-primary "> Read this</a>
            </div>
        </div>

        <div class="col-md-9 col-lg-3 col-sm-4 m-md-4 p-0 card">

            <div class="card-header m-0 p-0">
                <a href="alvaro.html">
                    <img src="https://ichef.bbci.co.uk/onesport/cps/800/cpsprodpb/3F1E/production/_114385161_neymarandalvarogonzalez.jpg"
                         width="100%">
                </a>
                <span class="badge badge-warning rounded-0">Sport</span>
                <h5 class="p-1"><b><a class="text-dark" href="alvaro.html">Alvaro Gonzalez: Andre Villas-Boas defends
                    Marseille player after racism claim
                </a></b></h5>

            </div>
            <div class="card-body mt-2">
                <p class="pt-2">
                    Marseille head coach Andre Villas-Boas has defended the club's player Alvaro Gonzalez following
                    Neymar's racism claim against the centre-back.
                </p>
            </div>
            <div class="card-footer">
                <a href="alvaro.html" class="btn btn-primary "> Read this</a>

            </div>
        </div>
        <div class="col-md-9 col-lg-3 col-sm-4 m-md-4 p-0 card">

            <div class="card-header m-0 p-0">
                <a href="djokovic.html">
                    <img src="../../img/djokovic.jpg"
                         width="100%">
                </a>
                <span class="badge badge-warning rounded-0">Sport</span>
                <h5 class="p-1"><b><a class="text-dark" href="djokovic.html">C'Novak Djokovic's US Open disqualification
                    another example of his poor judgement'
                </a></b></h5>

            </div>
            <div class="card-body mt-2">
                <p class="pt-2">
                    Novak Djokovic must have known his US Open was over as soon as that tennis ball hit a line judge in
                    the throat.
                </p>
            </div>
            <div class="card-footer">
                <a href="djokovic.html" class="btn btn-primary "> Read this</a>

            </div>
        </div>

    </div>
    <!-- Related News -->

</div>


<!--Footer-->
<footer class="page-footer font-small  text-center ">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Grid row-->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 py-5">
                <div class="mb-5 flex-center">

                    <!-- Facebook -->
                    <a class="fb-ic" style="color: cornflowerblue;">
                        <i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic" style="color: cornflowerblue;">
                        <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!-- Google +-->
                    <a class="gplus-ic" style="color: cornflowerblue;">
                        <i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic" style="color: cornflowerblue;">
                        <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic" style="color: cornflowerblue;">
                        <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Pinterest-->
                    <a class="pin-ic" style="color: cornflowerblue;">
                        <i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>
                    </a>
                </div>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-light">© 2020 Copyright: LT News</div>
    <!-- Copyright -->

</footer>
<!-- Footer -->

<!--Script -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<!--Script -->

</body>
</html>