<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/bootstrap-grid.css">
    <link rel="stylesheet" href="../../css/bootstrap-reboot.css">
    <link rel="stylesheet" href="../../fontawesome/css/font-awesome.css">
    <link rel="stylesheet" href="../../fontawesome/css/font-awesome.min.css">
    <style>
        .img :hover {
            border: 1px solid #2f2f2f;

        }
        body{
            background: lightgray;
        }
        .darkBlue{
            color: #000000;
            border-bottom: 5px solid;
            border-color: #b10101;
            font-family: Century,serif;
            font-weight: normal;
        }
    </style>
    <title>LT NEWS!</title>



</head>
<body>
<div class="container p-1 mx-auto">
    <nav class="navbar navbar-expand-lg navbar-dark bg-info p-lg-2 mx-auto justify-content-center">
        <div class="navbar-brand p-1 text-md-center align-content-center">
            <a href="../main.html">
                <img src="../../img/main-logo.jpg" class="rounded-left" width="100px" height="50px">
            </a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 align-items-center">
                <li class="nav-item active">
                    <a class="nav-link" href="../main.html"><b>HOME</b></span></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="../MacedonianNews/news.html" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><b>NEWS</b>
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="navbarDropdownMenuLink">
                        <ul>
                            <a class="dropdown-item" href="../MacedonianNews/Macedonian.html">Macedonian </a>
                            <a class="dropdown-item" href="../WorldNews/World.html">World</a>
                            <a class="dropdown-item" href="../SportNews/Sport.html">Sport</a>
                            <a class="dropdown-item" href="../GamingNews/Gaming.html">Gaming</a>
                        </ul>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <b>LIVE STREAM</b>
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="navbarDropdownMenuLink1">
                        <ul>
                            <a class="dropdown-item" href="#">Macedonian </a>
                            <a class="dropdown-item" href="#">World</a>

                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><b>ABOUT US</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><b>CONTACT</b></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>
<div class="container mt-2 bg-light">
    <div class="row">
        <div class="m-md-4 m-sm-2 col-lg-8 col-sm-12 p-sm-0">
            <h1>
                <a class="darkBlue" href="Macedonian.html">MACEDONIAN NEWS</a>
            </h1>
        </div>

        <div class="col-lg-12 col md-8 col-sm-12 pb-3 p-sm-0">
            <!-- Title -->
            <div class="col-12 pb-3">
                <h2>North Macedonia Arrests Three Terrorism Suspects, Seizes Explosives


                </h2>
            </div>
            <!-- Title -->
            <!-- Image -->
            <div class="col-12 ">
                <img src="https://balkaninsight.com/wp-content/uploads/2020/09/DSC_02222.jpg"  width="100%" alt="Card image cap">
            </div>
            <!-- Image -->
            <!-- Paragraphs -->
            <div class="col-12 pt-3">
                <p><b>North Macedonian arrested three alleged Islamic State sympathisers and returnees from Middle East conflict zones, and seized a cache of explosives and weapons that they are suspected of having planned to use for attacks.

                </b>
                </p>
                <p>
                    The Interior Ministry announced on Tuesday that three people, Macedonian nationals from the north-eastern town of Kumanovo, were arrested in an anti-terrorist operation carried out by the police the previous day in cooperation with the National Security Agency and the Public Prosecutor’s Office for Organised Crime.

                    “B.A., V.A. and E.Lj. are recidivists, ie. returnees, persons who have previously committed the crime of participation in a foreign army, police force, paramilitary or para-police group,” the Interior Ministry said in a statement.
                </p>
                <p>
                    It added that the three suspects have already served prison sentences in North Macedonia for their previous crimes.

                    During the operation to arrest them, the police found various firearms, ammunition and hand grenades, as well as explosives, tactical vests and other equipment, plus a flag with Arab letters on it.
                </p>
                <p>
                    The weapons cache was found near a local road close to the village of Biljanovce, near Kumanovo.

                    The head of North Macedonia’s National Security Agency, Viktor Dimovski, briefed reporters on Tuesday that the initial information is that the weapons and explosives found during the raid were planned to be used for terrorist attacks on institutions in the country.

                </p>
                <p>
                    The prosecution said that it has already ordered forensic analyses of the seized weapons and equipment and that the suspects will be brought before a judge to rule on the prosecution’s request for a custody remand.
                </p>
                <p>
                    According to North Macedonia’s National Coordinative Body for Prevention of Violent Extremism and Fight Against Terrorism, the country has so far identified over 150 people who participated in fighting in Iraq and Syria.
                    A total of 35 of them are believed to have died there.

                </p>
                <p>
                    Many of the others have since returned to their home country and some have been jailed.

                    The most prominent case, codenamed ‘Cell’, in which 11 people were sent to jail in 2016, concerned a group found guilty of recruiting people to fight in Iraq and Syria and of participating in foreign paramilitary forces.
                </p>
                <br>
                <br>
            </div>
            <!-- Paragraphs -->
            <!-- Likes Shares Views -->
            <div class="float-right p-2 pr-3">
                <small class="p-0">
                    <button class="btn btn-default btn-sm p-1">Like <span class="fa fa-heart text-danger"></span> 15
                    </button>
                </small>
                <small class="p-0">
                    <button class="btn btn-default btn-sm p-1">Share <span class="fa fa-share text-primary"></span> 6
                    </button>
                </small>
                <small class="p-0 ">
                    <span class="btn btn-default btn-sm p-1">Views <span class="fa fa-eye text-dark"></span> 46 </span>
                </small>
            </div>
            <!-- Likes Shares Views -->
        </div>
</div>

    <!-- Related News -->
    <div class="row ml-md-4 ml-lg-4 ml-sm-0">
        <h3 class="m-1 darkBlue">RELATED NEWS</h3>
    </div>
    <div class="row ml-md-3 ml-lg-3 ml-sm-0">

        <div class="col-md-9 col-lg-3 col-sm-4 m-md-4 ml-lg-5 ml-md-4 ml-sm-0 p-0 card">
            <div class="card-header m-0 p-0">
                <a href="osmani.html">
                    <img src="../../img/Osmani-komisii-5.jpg"
                         width="100%">
                </a>
                <span class="badge badge-warning rounded-0">Macedonia</span>
                <h5 class="p-1"><b><a class="text-dark" href="osmani.html">Osmani: Expert commissions with Greece and Bulgaria to resume work very soon</a></b></h5>

            </div>
            <div class="card-body">
                <p>
                    Foreign Minister Bujar Osmani met Friday with Macedonian members of three bilateral commissions - the Joint Interdisciplinary Committee of Experts for historical, archaeological and educational issues with Greece, the International Group of Experts on issues deriving from commercial names, trademarks and brand names with Greece, and the Joint Multidisciplinary Committee on historical and educational issues with Bulgaria.
                </p>
            </div>
            <div class="card-footer">
                <a href="osmani.html" class="btn btn-primary "> Read this</a>
            </div>
        </div>

        <div class="col-md-9 col-lg-3 col-sm-4 m-md-4 p-0 card">

            <div class="card-header m-0 p-0">
                <a href="covid19.html">
                    <img src="https://mia.mk/wp-content/uploads/2020/09/w_56316142.jpg"
                         width="100%">
                </a>
                <span class="badge badge-warning rounded-0">Macedonia</span>
                <h5 class="p-1"><b><a class="text-dark" href="covid19.html">North Macedonia registers 140 new COVID-19 cases, four deaths</a></b></h5>

            </div>
            <div class="card-body mt-2">
                <p class="pt-2">
                    A major incident was reported in a majority Muslim neighborhood of Strumica yesterday, when the police intervened to measure the noise levels emitted from the local mosque.
                </p>
            </div>
            <div class="card-footer">
                <a href="covid19.html" class="btn btn-primary "> Read this</a>

            </div>
        </div>
        <div class="col-md-9 col-lg-3 col-sm-4 m-md-4 p-0 card">

            <div class="card-header m-0 p-0">
                <a href="bulgaria.html">
                    <img src="https://balkaninsight.com/wp-content/uploads/2020/09/h_55372981-1280x721.jpg"
                         width="100%">
                </a>
                <span class="badge badge-warning rounded-0">Macedonia</span>
                <h5 class="p-1"><b><a class="text-dark" href="bulgaria.html">Bulgaria Repeats Threat to Block North Macedonia Over History Feud</a></b></h5>

            </div>
            <div class="card-body mt-2">
                <p class="pt-2">
                    Old bones of contention between the two neighbours about the Macedonian language and past history have again taken centre stage after Bulgarian officials reiterated threats to block North Macedonia’s EU talks over the issue.                </p>
            </div>
            <div class="card-footer">
                <a href="bulgaria.html" class="btn btn-primary "> Read this</a>

            </div>
        </div>
    </div>
    <!-- Related News -->





</div>
<!--Footer-->
<footer class="page-footer font-small  text-center ">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Grid row-->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 py-5">
                <div class="mb-5 flex-center">

                    <!-- Facebook -->
                    <a class="fb-ic" style="color: cornflowerblue;">
                        <i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic" style="color: cornflowerblue;">
                        <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!-- Google +-->
                    <a class="gplus-ic" style="color: cornflowerblue;">
                        <i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic" style="color: cornflowerblue;">
                        <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic" style="color: cornflowerblue;">
                        <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Pinterest-->
                    <a class="pin-ic" style="color: cornflowerblue;">
                        <i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>
                    </a>
                </div>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-light">© 2020 Copyright: LT News</div>
    <!-- Copyright -->

</footer>
<!-- Footer -->

<!--Script -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!--Script -->

</body>
</html>