<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/bootstrap-grid.css">
    <link rel="stylesheet" href="../../css/bootstrap-reboot.css">
    <link rel="stylesheet" href="../../fontawesome/css/font-awesome.css">
    <link rel="stylesheet" href="../../fontawesome/css/font-awesome.min.css">
    <style>
        .img :hover {
            border: 1px solid #2f2f2f;

        }
        body{
            background: lightgray;
        }
        .darkBlue{
            color: #000000;
            border-bottom: 5px solid;
            border-color: #b10101;
            font-family: Century,serif;
            font-weight: normal;
        }
    </style>
    <title>LT NEWS!</title>



</head>
<body>
<div class="container p-1 mx-auto">
    <nav class="navbar navbar-expand-lg navbar-dark bg-info p-lg-2 mx-auto justify-content-center">
        <div class="navbar-brand p-1 text-md-center align-content-center">
            <a href="../main.html">
                <img src="../../img/main-logo.jpg" class="rounded-left" width="100px" height="50px">
            </a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 align-items-center">
                <li class="nav-item active">
                    <a class="nav-link" href="../main.html"><b>HOME</b></span></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="MacedonianNews/news.html" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><b>NEWS</b>
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="navbarDropdownMenuLink">
                        <ul>
                            <a class="dropdown-item" href="../MacedonianNews/Macedonian.html">Macedonian </a>
                            <a class="dropdown-item" href="../WorldNews/World.html">World</a>
                            <a class="dropdown-item" href="../SportNews/Sport.html">Sport</a>
                            <a class="dropdown-item" href="../GamingNews/Gaming.html">Gaming</a>
                        </ul>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <b>LIVE STREAM</b>
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="navbarDropdownMenuLink1">
                        <ul>
                            <a class="dropdown-item" href="#">Macedonian </a>
                            <a class="dropdown-item" href="#">World</a>

                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><b>ABOUT US</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><b>CONTACT</b></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>
<div class="container mt-2 bg-light">
    <div class="row">
        <div class="m-md-4 m-sm-2 col-lg-8 col-sm-12 p-sm-0">
            <h1>
                <a class="darkBlue" href="../../templates/MacedonianNews/Macedonian.html">MACEDONIAN NEWS</a>
            </h1>
        </div>

        <div class="col-lg-12 col md-8 col-sm-12 pb-3 p-sm-0">
            <!-- Title -->
            <div class="col-12 pb-3">
                <h2>North Macedonia registers 140 new COVID-19 cases, four deaths
                </h2>
            </div>
            <!-- Title -->
            <!-- Image -->
            <div class="col-12 ">
                <img src="https://mia.mk/wp-content/uploads/2020/09/w_56316142.jpg"  width="100%" alt="Card image cap">
            </div>
            <!-- Image -->
            <!-- Paragraphs -->
            <div class="col-12 pt-3">
                <p><b>North Macedonia in the past 24 hours registered 119 new COVID-19 cases and 89 patients who have recovered. Four patients died in the same period, the Health Ministry said Thursday.
                </b>
                </p>
                <p>
                    Out of 1,507 tests carried out in the past 24 hours, 140 new COVID-19 cases were registered in North Macedonia, the Health Ministry said in a press release on Saturday.
                </p>
                <p><strong>Skopje, 12 September 2020 (MIA)</strong> – Out of 1,507 tests carried out in the past 24 hours, 140 new COVID-19 cases were registered in North Macedonia, the Health Ministry said in a press release on Saturday.
                </p>
                <p>Four patients from different parts of the country, aged 63, 64, 71 and 73, died in the same 24-hour period.</p>
                <p>New cases were registered in Skopje-43, Kumanovo-10, Debar-3, Shtip-4, Prilep-9, Tetovo-12, Struga-7, Veles-2, Bitola-3, Ohrid-1, Kavadarci-3, Gostivar-9, Gevgelija-2, Strumica-11, Kriva Palanka-1, Radovish-2, Kochani-5, Makedonski Brod-1, Vinica-3, Delchevo-2, Sveti Nikole-3, Kichevo-2 and Resen-2.</p>
                <p>The Institute of Public Health recorded 134 recovered patients from all over the country, the press release reads.</p>
                <p>Since the outbreak of the epidemic, North Macedonia has registered 15,694 confirmed COVID-19 cases, while 13,128 people have recovered.</p>
                <p>Death toll has reached 646.</p>
                <p>At the moment, there are 1,920 active cases in the country, of which 566 in the capital Skopje.</p>
                <p>So far, 164,639 tests have been carried out in North Macedonia.</p>

                <br>
                <br>
            </div>
            <!-- Paragraphs -->
            <!-- Likes Shares Views -->
            <div class="float-right p-2 pr-3">
                <small class="p-0">
                    <button class="btn btn-default btn-sm p-1">Like <span class="fa fa-heart text-danger"></span> 15
                    </button>
                </small>
                <small class="p-0">
                    <button class="btn btn-default btn-sm p-1">Share <span class="fa fa-share text-primary"></span> 6
                    </button>
                </small>
                <small class="p-0 ">
                    <span class="btn btn-default btn-sm p-1">Views <span class="fa fa-eye text-dark"></span> 46 </span>
                </small>
            </div>
            <!-- Likes Shares Views -->
        </div>
    </div>

    <!-- Related News -->
    <div class="row ml-md-4 ml-lg-4 ml-sm-0">
        <h3 class="m-1 darkBlue">RELATED NEWS</h3>
    </div>
    <div class="row ml-md-3 ml-lg-3 ml-sm-0">

        <div class="col-md-9 col-lg-3 col-sm-4 m-md-4 ml-lg-5 ml-md-4 ml-sm-0 p-0 card">
            <div class="card-header m-0 p-0">
                <a href="parlamaint.html">
                    <img src="../../img/Izbor-na-nova-vlada-Sobranie-2020-11.jpg"
                         width="100%">
                </a>
                <span class="badge badge-warning rounded-0">Macedonia</span>
                <h5 class="p-1"><b><a class="text-dark" href="parlamaint.html">
                    Parliament seeking alternative ways to hold sessions in extraordinary conditions</a></b></h5>
            </div>
            <div class="card-body">
                <p>
                    Parliament is seeking alternative ways to hold sessions in extraordinary circumstances, namely online sessions and voting due to the COVID-19 pandemic since it is being estimated that it might not be subdued for at least two more years.

                </p>
            </div>
            <div class="card-footer">
                <a href="parlamaint.html" class="btn btn-primary "> Read this</a>
            </div>
        </div>

        <div class="col-md-9 col-lg-3 col-sm-4 m-md-4 p-0 card">

            <div class="card-header m-0 p-0">
                <a href="arrests.html">
                    <img src="https://balkaninsight.com/wp-content/uploads/2020/09/DSC_02222.jpg"
                         width="100%">
                </a>
                <span class="badge badge-warning rounded-0">Macedonia</span>
                <h5 class="p-1"><b><a class="text-dark" href="arrests.html">North Macedonia registers 140 new COVID-19 cases, four deaths</a></b></h5>

            </div>
            <div class="card-body mt-2">
                <p class="pt-2">
                    A major incident was reported in a majority Muslim neighborhood of Strumica yesterday, when the police intervened to measure the noise levels emitted from the local mosque.
                </p>
            </div>
            <div class="card-footer">
                <a href="arrests.html" class="btn btn-primary "> Read this</a>

            </div>
        </div>
        <div class="col-md-9 col-lg-3 col-sm-4 m-md-4 p-0 card">

            <div class="card-header m-0 p-0">
                <a href="wine.html">
                    <img src="https://balkaninsight.com/wp-content/uploads/2020/08/h_53771916-1280x721.jpg"
                         width="100%">
                </a>
                <span class="badge badge-warning rounded-0">Macedonia</span>
                <h5 class="p-1"><b><a class="text-dark" href="wine.html">
                    North Macedonia Wine Industry ‘Facing Collapse’ from COVID-19 Crisis</a></b></h5>

            </div>
            <div class="card-body mt-2">
                <p class="pt-2">
                    Main association of wine producers says this crucial industry in North Macedonia is on the brink of catastrophe due to a drastic fall in demand and prices – related to the COVID-19 crisis.
                </p>
            </div>
            <div class="card-footer">
                <a href="wine.html" class="btn btn-primary "> Read this</a>

            </div>
        </div>

    </div>
    <!-- Related News -->



</div>


<!--Footer-->
<footer class="page-footer font-small  text-center ">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Grid row-->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 py-5">
                <div class="mb-5 flex-center">

                    <!-- Facebook -->
                    <a class="fb-ic" style="color: cornflowerblue;">
                        <i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic" style="color: cornflowerblue;">
                        <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!-- Google +-->
                    <a class="gplus-ic" style="color: cornflowerblue;">
                        <i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic" style="color: cornflowerblue;">
                        <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic" style="color: cornflowerblue;">
                        <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Pinterest-->
                    <a class="pin-ic" style="color: cornflowerblue;">
                        <i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>
                    </a>
                </div>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-light">© 2020 Copyright: LT News</div>
    <!-- Copyright -->

</footer>
<!-- Footer -->

<!--Script -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<!--Script -->

</body>
</html>