<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/bootstrap-grid.css">
    <link rel="stylesheet" href="../../css/bootstrap-reboot.css">
    <link rel="stylesheet" href="../../fontawesome/css/font-awesome.css">
    <link rel="stylesheet" href="../../fontawesome/css/font-awesome.min.css">

    <style>
        .img :hover {
            border: 1px solid #2f2f2f;

        }

        body {
            background: lightgray;
        }

        .darkBlue {
            color: #000000;
            border-bottom: 5px solid;
            border-color: #b10101;
            font-family: Century, serif;
            font-weight: normal;
        }

    </style>
    <title>LT NEWS!</title>


</head>
<div class="container p-1 mx-auto">
    <nav class="navbar navbar-expand-lg navbar-dark bg-info p-lg-2 mx-auto justify-content-center">
        <div class="navbar-brand p-1 text-md-center align-content-center">
            <a href="../main.html">
                <img src="../../img/main-logo.jpg" class="rounded-left" width="100px" height="50px">
            </a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 align-items-center">
                <li class="nav-item active">
                    <a class="nav-link" href="../main.html"><b>HOME</b></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="MacedonianNews/news.html" id="navbarDropdownMenuLink"
                       role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><b>NEWS</b>
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="navbarDropdownMenuLink">
                        <ul>
                            <a class="dropdown-item" href="../MacedonianNews/Macedonian.html">Macedonian </a>
                            <a class="dropdown-item" href="../WorldNews/World.html">World</a>
                            <a class="dropdown-item" href="../SportNews/Sport.html">Sport</a>
                            <a class="dropdown-item" href="../GamingNews/Gaming.html">Gaming</a>
                        </ul>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <b>LIVE STREAM</b>
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="navbarDropdownMenuLink1">
                        <ul>
                            <a class="dropdown-item" href="../LiveStream.html">WORLD STREAM </a>
                            <a class="dropdown-item" href="../GamingStream.html">GAMING STREAM</a>


                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../aboutus.html"><b>ABOUT US</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../contact.html"><b>CONTACT</b></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>
<div class="container mt-2 bg-light">
    <div class="row ">
        <div class="col-lg-9 col-md-12 p-0">
            <ul class="list-unstyled mt-3  ">

                <li class=" float-md-left pt-2 pb-2 pl-3">
                    <h3>
                        <a class="darkBlue text-decoration-none" href="#">Macedonian News</a>
                    </h3>
                </li>
                <li class=" float-md-left pt-2 pb-2 pl-3">
                    <h3>
                        <a class="darkBlue border-bottom-0 text-decoration-none" href="../WorldNews/World.html">World
                            News</a>
                    </h3>
                </li>
                <li class=" float-md-left pt-2 pb-2 pl-3">
                    <h3>
                        <a class="text-decoration-none darkBlue border-bottom-0" href="../SportNews/Sport.html">Sport
                            News</a>
                    </h3>
                </li>
                <li class=" float-md-left pt-2 pb-2 pl-3">
                    <h3>
                        <a class="text-decoration-none darkBlue border-bottom-0" href="../GamingNews/Gaming.html">Gaming
                            News</a>
                    </h3>
                </li>
            </ul>
        </div>
    </div>
    <div class="row ">

        <!-- NEWS -->
        <div class="col-lg-12 col-md-12">

            <div class="row border-sm border-bottom page-1">
                <!-- Image -->
                <div class="col-md-4 p-2">
                    <a href="parlamaint.html">
                        <img src="../../img/Izbor-na-nova-vlada-Sobranie-2020-11.jpg" width="100%">
                    </a>
                </div>
                <!-- Image -->
                <!-- Body -->
                <div class="col-md-8 p-1">
                    <!-- H3 -->
                    <h5><b><a class="text-dark" href="parlamaint.html">Parliament seeking alternative ways to hold sessions in
                        extraordinary conditions
                    </a></b></h5>
                    <!-- H3 -->
                    <!-- Paragraph -->
                    <p class="h6">
                        Parliament is seeking alternative ways to hold sessions in extraordinary circumstances, namely
                        online sessions and voting due to the COVID-19 pandemic since it is being estimated that it
                        might not be subdued for at least two more years.

                    </p>
                    <!-- Paragraph -->
                    <!-- Likes Shares Views -->
                    <div class="float-right p-0 pr-3">
                        <small class="p-0">
                            <span class="fa fa-heart text-danger"></span> 50
                        </small>
                        <small class="p-0">
                            <span class="fa fa-share text-primary"></span> 15
                        </small>
                        <small class="p-0 ">
                            <span class="fa fa-eye text-dark"></span> 145
                        </small>
                    </div>
                    <!-- Likes Shares Views -->
                </div>
                <!-- Body -->
            </div>

            <div class="row border-sm border-bottom page-1">
                <!-- Image -->
                <div class="col-md-4 p-2">
                    <a href="osmani.html">
                        <img src="../../img/Osmani-komisii-5.jpg" width="100%">
                    </a>
                </div>
                <!-- Image -->
                <!-- Body -->
                <div class="col-md-8 p-1">
                    <!-- H3 -->
                    <h5><b><a class="text-dark" href="osmani.html">Osmani: Expert commissions with Greece and Bulgaria
                        to resume work very soon
                    </a></b></h5>
                    <!-- H3 -->
                    <!-- Paragraph -->
                    <p class="h6">
                        Foreign Minister Bujar Osmani met Friday with Macedonian members of three bilateral commissions
                        - the Joint Interdisciplinary Committee of Experts for historical, archaeological and
                        educational issues with Greece, the International Group of Experts on issues deriving from
                        commercial names, trademarks and brand names with Greece, and the Joint Multidisciplinary
                        Committee on historical and educational issues with Bulgaria.

                    </p>
                    <!-- Paragraph -->
                    <!-- Likes Shares Views -->
                    <div class="float-right p-0 pr-3">
                        <small class="p-0">
                            <span class="fa fa-heart text-danger"></span> 32
                        </small>
                        <small class="p-0">
                            <span class="fa fa-share text-primary"></span> 7
                        </small>
                        <small class="p-0 ">
                            <span class="fa fa-eye text-dark"></span> 90
                        </small>
                    </div>
                    <!-- Likes Shares Views -->
                </div>
                <!-- Body -->
            </div>

            <div class="row border-sm border-bottom page-1">
                <!-- Image -->
                <div class="col-md-4 p-2">
                    <a href="../MacedonianNews/covid19.html">
                        <img src="https://mia.mk/wp-content/uploads/2020/09/w_56316142.jpg" width="100%">
                    </a>
                </div>
                <!-- Image -->
                <!-- Body -->
                <div class="col-md-8 p-1">
                    <!-- H3 -->
                    <h5><b><a class="text-dark" href="covid19.html">North Macedonia registers 140 new COVID-19 cases,
                        four deaths
                    </a></b></h5>
                    <!-- H3 -->
                    <!-- Paragraph -->
                    <p class="h6">
                        A major incident was reported in a majority Muslim neighborhood of Strumica yesterday, when the
                        police intervened to measure the noise levels emitted from the local mosque.
                    </p>
                    <!-- Paragraph -->
                    <!-- Likes Shares Views -->
                    <div class="float-right p-0 pr-3">
                        <small class="p-0">
                            <span class="fa fa-heart text-danger"></span> 58
                        </small>
                        <small class="p-0">
                            <span class="fa fa-share text-primary"></span> 35
                        </small>
                        <small class="p-0 ">
                            <span class="fa fa-eye text-dark"></span> 148
                        </small>
                    </div>
                    <!-- Likes Shares Views -->
                </div>
                <!-- Body -->
            </div>

            <!-- NEWS -->
            <div class="col-lg-12 col-md-12">

                <div class="row border-sm border-bottom page-1">
                    <!-- Image -->
                    <div class="col-md-4 p-2">
                        <a href="bulgaria.html">
                            <img src="https://balkaninsight.com/wp-content/uploads/2020/09/h_55372981-1280x721.jpg"
                                 width="100%">
                        </a>
                    </div>
                    <!-- Image -->
                    <!-- Body -->
                    <div class="col-md-8 p-1">
                        <!-- H3 -->
                        <h5><b><a class="text-dark" href="bulgaria.html">Bulgaria Repeats Threat to Block North
                            Macedonia Over History Feud
                        </a></b></h5>
                        <!-- H3 -->
                        <!-- Paragraph -->
                        <p class="h6">
                            Old bones of contention between the two neighbours about the Macedonian language and past
                            history have again taken centre stage after Bulgarian officials reiterated threats to block
                            North Macedonia’s EU talks over the issue.

                        </p>
                        <!-- Paragraph -->
                        <!-- Likes Shares Views -->
                        <div class="float-right p-0 pr-3">
                            <small class="p-0">
                                <span class="fa fa-heart text-danger"></span> 54
                            </small>
                            <small class="p-0">
                                <span class="fa fa-share text-primary"></span> 13
                            </small>
                            <small class="p-0 ">
                                <span class="fa fa-eye text-dark"></span> 135
                            </small>
                        </div>
                        <!-- Likes Shares Views -->
                    </div>
                    <!-- Body -->
                </div>

                <div class="row border-sm border-bottom page-1">
                    <!-- Image -->
                    <div class="col-md-4 p-2">
                        <a href="oppositions.html">
                            <img src="https://balkaninsight.com/wp-content/uploads/2020/09/IMG_20200911_141657_1-1280x720.jpg"
                                 width="100%">
                        </a>
                    </div>
                    <!-- Image -->
                    <!-- Body -->
                    <div class="col-md-8 p-1">
                        <!-- H3 -->
                        <h5><b><a class="text-dark" href="oppositions.html">Macedonia Opposition Block Roads Over
                            Electricity Price Hike
                        </a></b></h5>
                        <!-- H3 -->
                        <!-- Paragraph -->
                        <p class="h6">
                            The main opposition VMRO DPMNE party on Friday staged a road blockade in central Skopje in
                            protest against the new government led by Zoran Zaev, blaming it for the recent rise in the
                            price of electricity.

                        </p>
                        <!-- Paragraph -->
                        <!-- Likes Shares Views -->
                        <div class="float-right p-0 pr-3">
                            <small class="p-0">
                                <span class="fa fa-heart text-danger"></span> 39
                            </small>
                            <small class="p-0">
                                <span class="fa fa-share text-primary"></span> 11
                            </small>
                            <small class="p-0 ">
                                <span class="fa fa-eye text-dark"></span> 259
                            </small>
                        </div>
                        <!-- Likes Shares Views -->
                    </div>
                    <!-- Body -->
                </div>

                <div class="row border-sm border-bottom page-1">
                    <!-- Image -->
                    <div class="col-md-4 p-2">
                        <a href="arrests.html">
                            <img src="https://balkaninsight.com/wp-content/uploads/2020/09/DSC_02222.jpg" width="100%">
                        </a>
                    </div>
                    <!-- Image -->
                    <!-- Body -->
                    <div class="col-md-8 p-1">
                        <!-- H3 -->
                        <h5><b><a class="text-dark" href="arrests.html">North Macedonia Arrests Three Terrorism
                            Suspects, Seizes Explosives
                        </a></b></h5>
                        <!-- H3 -->
                        <!-- Paragraph -->
                        <p class="h6">
                            North Macedonian arrested three alleged Islamic State sympathisers and returnees from Middle
                            East conflict zones, and seized a cache of explosives and weapons that they are suspected of
                            having planned to use for attacks.sure the noise levels emitted from the local mosque.
                        </p>
                        <!-- Paragraph -->
                        <!-- Likes Shares Views -->
                        <div class="float-right p-0 pr-3">
                            <small class="p-0">
                                <span class="fa fa-heart text-danger"></span> 80
                            </small>
                            <small class="p-0">
                                <span class="fa fa-share text-primary"></span> 45
                            </small>
                            <small class="p-0 ">
                                <span class="fa fa-eye text-dark"></span> 349
                            </small>
                        </div>
                        <!-- Likes Shares Views -->
                    </div>
                    <!-- Body -->
                </div>

                <div class="row border-sm border-bottom page-1">
                    <!-- Image -->
                    <div class="col-md-4 p-2">
                        <a href="wine.html">
                            <img src="https://balkaninsight.com/wp-content/uploads/2020/08/h_53771916-1280x721.jpg"
                                 width="100%">
                        </a>
                    </div>
                    <!-- Image -->
                    <!-- Body -->
                    <div class="col-md-8 p-1">
                        <!-- H3 -->
                        <h5><b><a class="text-dark" href="wine.html">North Macedonia Wine Industry ‘Facing Collapse’
                            from COVID-19 Crisis</a></b></h5>
                        <!-- H3 -->
                        <!-- Paragraph -->
                        <p class="h6">
                            Main association of wine producers says this crucial industry in North Macedonia is on the
                            brink of catastrophe due to a drastic fall in demand and prices – related to the COVID-19
                            crisis.
                        </p>
                        <!-- Paragraph -->
                        <!-- Likes Shares Views -->
                        <div class="float-right p-0 pr-3">
                            <small class="p-0">
                                <span class="fa fa-heart text-danger"></span> 45
                            </small>
                            <small class="p-0">
                                <span class="fa fa-share text-primary"></span> 12
                            </small>
                            <small class="p-0 ">
                                <span class="fa fa-eye text-dark"></span> 199
                            </small>
                        </div>
                        <!-- Likes Shares Views -->
                    </div>
                    <!-- Body -->
                </div>
            </div>
        </div>

    </div>

    <!--Footer-->
    <footer class="page-footer font-small  text-center ">

        <!-- Footer Elements -->
        <div class="container">

            <!-- Grid row-->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-12 py-5">
                    <div class="mb-5 flex-center">

                        <!-- Facebook -->
                        <a class="fb-ic" style="color: cornflowerblue;">
                            <i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!-- Twitter -->
                        <a class="tw-ic" style="color: cornflowerblue;">
                            <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!-- Google +-->
                        <a class="gplus-ic" style="color: cornflowerblue;">
                            <i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!--Linkedin -->
                        <a class="li-ic" style="color: cornflowerblue;">
                            <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!--Instagram-->
                        <a class="ins-ic" style="color: cornflowerblue;">
                            <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!--Pinterest-->
                        <a class="pin-ic" style="color: cornflowerblue;">
                            <i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>
                        </a>
                    </div>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row-->

        </div>
        <!-- Footer Elements -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 text-light">© 2020 Copyright: LT News</div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->

    <!--Script -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <!--Script -->
</div>
</body>
</html>