<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/bootstrap-grid.css">
    <link rel="stylesheet" href="../css/bootstrap-reboot.css">
    <link rel="stylesheet" href="../fontawesome/css/font-awesome.css">

    <style>
        .img :hover {
            border: 1px solid #2f2f2f;

        }

        body {
            background: lightgray;
        }

        .darkBlue {
            color: #000000;
            border-bottom: 5px solid;
            border-color: #b10101;
            font-family: Century, serif;
            font-weight: normal;
        }
    </style>
    <title>LT NEWS!</title>


</head>
<body>
<div class="container p-1 mx-auto">
    <nav class="navbar navbar-expand-lg navbar-dark bg-info p-lg-2 mx-auto justify-content-center">
        <div class="navbar-brand p-1 text-md-center align-content-center">
            <a href="main.html">
                <img src="../img/main-logo.jpg" class="rounded-left" width="100px" height="50px">
            </a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 align-items-center">
                <li class="nav-item active">
                    <a class="nav-link" href="main.html"><b>HOME</b></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><b>NEWS</b>
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="navbarDropdownMenuLink">
                        <ul>
                            <a class="dropdown-item" href="MacedonianNews/Macedonian.html">Macedonian </a>
                            <a class="dropdown-item" href="WorldNews/World.html">World</a>
                            <a class="dropdown-item" href="SportNews/Sport.html">Sport</a>
                            <a class="dropdown-item" href="GamingNews/Gaming.html">Gaming</a>
                        </ul>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <b>LIVE STREAM</b>
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="navbarDropdownMenuLink1">
                        <ul>
                            <a class="dropdown-item" href="LiveStream.html">WORLD STREAM </a>
                            <a class="dropdown-item" href="GamingStream.html">GAMING STREAM</a>

                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="aboutus.html"><b>ABOUT US</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html"><b>CONTACT</b></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>
<div class="container mt-2 bg-light">
    <!--MACEDONIAN NEWS-->
    <div class="row">
        <div class="m-md-4 m-sm-2 col-lg-8 col-sm-12 p-sm-0">
            <h1>
                <a class="darkBlue" href="MacedonianNews/Macedonian.html">MACEDONIAN NEWS</a>
            </h1>
        </div>
    </div>
    <hr class="border-dark border-bottom px-2">
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top bad" src="../img/Izbor-na-nova-vlada-Sobranie-2020-11.jpg" alt="Card image cap">
            <span class="badge badge-pill badge-danger">Macedonia</span>
            <div class="card-body">
                <h5 class="card-title">Parliament seeking alternative ways to hold sessions in extraordinary
                    conditions</h5>
                <p class="card-text">Parliament is seeking alternative ways to hold sessions in extraordinary
                    circumstances, namely online sessions and voting due to the COVID-19 pandemic since it is being
                    estimated that it might not be subdued for at least two more years.</p>
                <a href="MacedonianNews/parlamaint.html" class="btn btn-outline-danger "> Read this</a>

            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../img/Osmani-komisii-5.jpg" alt="Card image cap">
            <span class="badge badge-pill badge-danger">Macedonia</span>
            <div class="card-body">
                <h5 class="card-title">Osmani: Expert commissions with Greece and Bulgaria to resume work very soon</h5>
                <p class="card-text">Foreign Minister Bujar Osmani met Friday with Macedonian members of three bilateral
                    commissions - the Joint Interdisciplinary Committee of Experts for historical, archaeological and
                    educational issues with Greece, the International Group of Experts on issues deriving from
                    commercial names, trademarks and brand names with Greece, and the Joint Multidisciplinary Committee
                    on historical and educational issues with Bulgaria.</p>
                <a href="MacedonianNews/osmani.html" class="btn btn-outline-danger "> Read this</a>

            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="https://mia.mk/wp-content/uploads/2020/05/maski-koronavirus-polici-a-2.jpg"
                 alt="Card image cap">
            <span class="badge badge-pill badge-danger">Macedonia</span>
            <div class="card-body">
                <h5 class="card-title">North Macedonia registers 140 new COVID-19 cases, four deaths</h5>
                <p class="card-text">Out of 1,507 tests carried out in the past 24 hours, 140 new COVID-19 cases were
                    registered in North Macedonia, the Health Ministry said in a press release on Saturday.</p>
                <a href="MacedonianNews/covid19.html" class="btn btn-outline-danger "> Read this</a>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
    <!--WORLD NEWS-->
    <div class="row">
        <div class="m-md-4 m-sm-2 col-lg-8 col-sm-12 p-sm-0">
            <h1>
                <a class="darkBlue" href="WorldNews/World.html">WORLD NEWS</a>
            </h1>
        </div>
    </div>
    <hr class="border-dark border-bottom px-2">
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="../img/_114331777_d0f8cde8-974d-4c72-92c9-c55db3823a73.jpg"
                 alt="Card image cap">
            <span class="badge badge-pill badge-danger">World</span>
            <div class="card-body">

                <h5 class="card-title">Afghanistan war: 'Historic' peace talks with Taliban begin
                </h5>
                <p class="card-text">The first peace talks between the Afghan government and the Taliban have begun in
                    the Gulf state of Qatar, after months of delay.
                </p>
                <a href="WorldNews/afghanistanwar.html" class="btn btn-outline-danger "> Read this</a>

            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../img/UK-People.jpg" alt="Card image cap">
            <span class="badge badge-pill badge-danger">World</span>
            <div class="card-body">
                <h5 class="card-title">Coronavirus: Avoid 'party weekend' ahead of new restrictions, public told
                </h5>
                <p class="card-text">People in the UK must not treat this weekend as a "party" before the new "rule of
                    six" coronavirus restrictions come into force on Monday, a police union has warned.</p>
                <a href="WorldNews/coronavirus.html" class="btn btn-outline-danger "> Read this</a>

            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../img/usa-fire.jpg"
                 alt="Card image cap">
            <span class="badge badge-pill badge-danger">World</span>
            <div class="card-body">
                <h5 class="card-title">US wildfires fuelled by climate change, California governor says
                </h5>
                <p class="card-text">The deadly wildfires sweeping through US West Coast states show that the debate
                    around climate change is "over", California Governor Gavin Newsom says.
                </p>
                <a href="WorldNews/wildfires.html" class="btn btn-outline-danger "> Read this</a>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 1 mins ago</small>
            </div>
        </div>
    </div>
    <!--Sport NEWS-->
    <div class="row">
        <div class="m-md-4 m-sm-2 col-lg-8 col-sm-12 p-sm-0">
            <h1>
                <a class="darkBlue" href="SportNews/Sport.html">SPORT NEWS</a>
            </h1>
        </div>
    </div>
    <hr class="border-dark border-bottom px-2">
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="../img/gabriel.jpg" alt="Card image cap">
            <span class="badge badge-pill badge-danger">Sport</span>
            <div class="card-body">
                <h5 class="card-title">Debutants Gabriel and Willian impressed as Arsenal blew away promoted Fulham in
                    the opening game of the Premier League season.
                </h5>
                <p class="card-text">Gabriel is the third defender to score for Arsenal on his Premier League debut,
                    after Steve Bould (1992) and Thomas Vermaelen (2009)
                </p>
                <a href="../templates/SportNews/gabriel.html" class="btn btn-outline-danger "> Read this</a>

            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 2 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../img/hamilton.png" alt="Card image cap">
            <span class="badge badge-pill badge-danger">Sport</span>
            <div class="card-body">
                <h5 class="card-title">Tuscan Grand Prix: Lewis Hamilton beats Valtteri Bottas to Mugello pole

                </h5>
                <p class="card-text">Lewis Hamilton took his seventh pole position in nine races this season at the
                    first Tuscan Grand Prix.
                </p>
                <a href="SportNews/lewish.html" class="btn btn-outline-danger "> Read this</a>

            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../img/djokovic.jpg" alt="Card Image cap">
            <span class="badge badge-pill badge-danger">Sport</span>
            <div class="card-body">
                <h5 class="card-title">'Novak Djokovic's US Open disqualification another example of his poor judgement'
                </h5>
                <p class="card-text">Novak Djokovic must have known his US Open was over as soon as that tennis ball hit
                    a line judge in the throat.</p>
                <a href="SportNews/djokovic.html" class="btn btn-outline-danger "> Read this</a>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 2 mins ago</small>
            </div>
        </div>
    </div>
    <!--Gaming NEWS-->
    <div class="row">
        <div class="m-md-4 m-sm-2 col-lg-8 col-sm-12 p-sm-0">
            <h1>
                <a class="darkBlue" href="GamingNews/Gaming.html">GAMING NEWS</a>
            </h1>
        </div>
    </div>
    <hr class="border-dark border-bottom px-2">
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="../img/Xbox-Series-X-and-Series-S.webp" alt="Card image cap">
            <span class="badge badge-pill badge-danger">Gaming</span>
            <div class="card-body">
                <h5 class="card-title">Xbox Series X, Series S launching on November 10, prices to start from $299
                </h5>
                <p class="card-text">Microsoft has officially revealed all details about the Xbox Series X and Series S
                    consoles. Both the next-gen models will be available from November 10 starting at a price of
                    $299.</p>
                <a href="GamingNews/xboxseriesx.html" class="btn btn-outline-danger "> Read this</a>

            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 7 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../img/PUBG-Mobile.jpg" alt="Card image cap">
            <span class="badge badge-pill badge-danger">Gaming</span>
            <div class="card-body">
                <h5 class="card-title">PUBG Mobile ban: Why the decision is a stifling one at best
                </h5>
                <p class="card-text">While the government made the decision to ban PUBG Mobile on grounds of national
                    security, it thought of little else while doing so.
                </p>
                <a href="GamingNews/pubgban.html" class="btn btn-outline-danger "> Read this</a>

            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 6 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../img/nvidia-geforce-rtx-3080.webp" alt="Card image cap">
            <span class="badge badge-pill badge-danger">Gaming</span>
            <div class="card-body">
                <h5 class="card-title">Nvidia launches GeForce RTX 3090, 3080 and 3070 Ampere GPUs; India prices out
                </h5>
                <p class="card-text">The new Nvidia GeForce RTX 3090, 3080 and 3070 GPUs possibly bring the most
                    generational advancement from the company yet.
                </p>
                <a href="GamingNews/nvidialaunch.html" class="btn btn-outline-danger "> Read this</a>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>


</div>
<!--Footer-->
<footer class="page-footer font-small  text-center ">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Grid row-->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 py-5">
                <div class="mb-5 flex-center">

                    <!-- Facebook -->
                    <a class="fb-ic" style="color: cornflowerblue;">
                        <i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic" style="color: cornflowerblue;">
                        <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!-- Google +-->
                    <a class="gplus-ic" style="color: cornflowerblue;">
                        <i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic" style="color: cornflowerblue;">
                        <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic" style="color: cornflowerblue;">
                        <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Pinterest-->
                    <a class="pin-ic" style="color: cornflowerblue;">
                        <i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>
                    </a>
                </div>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-light">© 2020 Copyright: LT News</div>
    <!-- Copyright -->

</footer>
<!-- Footer -->

<!--Script -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<!--Script -->

</body>
</html>