<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/bootstrap-grid.css">
    <link rel="stylesheet" href="../../css/bootstrap-reboot.css">
    <link rel="stylesheet" href="../../fontawesome/css/font-awesome.css">
    <link rel="stylesheet" href="../../fontawesome/css/font-awesome.min.css">
    <style>
        .img :hover {
            border: 1px solid #2f2f2f;

        }

        body {
            background: lightgray;
        }

        .darkBlue {
            color: #000000;
            border-bottom: 5px solid;
            border-color: #b10101;
            font-family: Century, serif;
            font-weight: normal;
        }
    </style>
    <title>LT NEWS!</title>


</head>
<body>
<div class="container p-1 mx-auto">
    <nav class="navbar navbar-expand-lg navbar-dark bg-info p-lg-2 mx-auto justify-content-center">
        <div class="navbar-brand p-1 text-md-center align-content-center">
            <a href="../main.html">
                <img src="../../img/main-logo.jpg" class="rounded-left" width="100px" height="50px">
            </a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 align-items-center">
                <li class="nav-item active">
                    <a class="nav-link" href="../main.html"><b>HOME</b></span></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="MacedonianNews/news.html" id="navbarDropdownMenuLink"
                       role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><b>NEWS</b>
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="navbarDropdownMenuLink">
                        <ul>
                            <a class="dropdown-item" href="../MacedonianNews/Macedonian.html">Macedonian </a>
                            <a class="dropdown-item" href="../WorldNews/World.html">World</a>
                            <a class="dropdown-item" href="../SportNews/Sport.html">Sport</a>
                            <a class="dropdown-item" href="../GamingNews/Gaming.html">Gaming</a>
                        </ul>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <b>LIVE STREAM</b>
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="navbarDropdownMenuLink1">
                        <ul>
                            <a class="dropdown-item" href="#">Macedonian </a>
                            <a class="dropdown-item" href="#">World</a>

                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><b>ABOUT US</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><b>CONTACT</b></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>
<div class="container mt-2 bg-light">
    <div class="row">
        <div class="m-md-4 m-sm-2 col-lg-8 col-sm-12 p-sm-0">
            <h1>
                <a class="darkBlue" href="../../templates/GamingNews/Gaming.html">GAMING NEWS</a>
            </h1>
        </div>

        <div class="col-lg-12 col md-8 col-sm-12 pb-3 p-sm-0">
            <!-- Title -->
            <div class="col-12 pb-3">
                <h2>Nvidia launches GeForce RTX 3090, 3080 and 3070 Ampere GPUs; India prices out

                </h2>
            </div>
            <!-- Title -->
            <!-- Image -->
            <div class="col-12 ">
                <img src="https://st1.bgr.in/wp-content/uploads/2020/09/nvidia-geforce-rtx-3080.jpg"
                     width="100%" alt="Card image cap">
            </div>
            <!-- Image -->
            <!-- Paragraphs -->
            <div class="col-12 pt-3">
                <p><b>The new Nvidia GeForce RTX 3090, 3080 and 3070 GPUs possibly bring the most generational
                    advancement from the company yet.
                </b>
                </p>
                <p>
                    Nvidia has finally launched it’s newest RTX 30 series of GPU and has successfully outdone itself.
                    The new Nvidia GeForce RTX 3090, 3080 and 3070 GPUs possibly bring the most generational advancement
                    from the company yet. These GPUs are based on the new Ampere architecture and bring GDDR6X memory
                    which is Nvidia’s second generation RTX ray tracing cores. The new generation of GPUs are faster
                    than even the flagship from the last generation. Also Read - Xiaomi Mi Notebook Pro 15 (2020)
                    launched 10th-generation Intel processors and Nvidia GeForce MX350
                </p>
                <p><b>GeForce RTX 3090, 3080, 3070: Details
                </b>
                </p>
                <p>
                    According to Nvidia, the GeForce RTX 3070 is 60 percent faster than the GeForce RTX 2070. It is also
                    faster than the GeForce RTX 2080Ti but costs less than half that. The RTX 3070 is well suited to
                    1440p and 4K gaming and comes with 8GB of GDDR6 memory. As for the GeForce RTX 3080, Nvidia touted
                    it as the “ultimate gaming GPU” and is two times as fast as the previous generation GeForce RTX
                    2080. This comes with 10GB of 19Gbps GDDR6X RAM and will provide users with 60FPS consistently
                    gameplay at 4K. Also Read - Nvidia RTX 3080 Graphics Card images have been leaked online
                </p>
                <p>
                    The new flagship Nvidia GeForce RTX 3090 GPU which is also called the BFGPU or Big Ferocious GPU
                    comes with a triple-slot cooler and a new dual-axial airflow design. This positions one fan on the
                    front while the other one is on the back. This apparently makes it ten times quieter and up to 30
                    degree centigrade cooler than the previous generation. It features 24GB of GDDR6X RAM and is
                    apparently 50 percent faster than the Titan RTX GPU. This card will provide gamers with 8K gameplay
                    at 60FPS. And not just users will be able to record their 8K gameplay as well. Also Read - Nvidia
                    CEO teases ‘world’s largest graphics card’ for GTC 2020 in a quirky video
                </p>
                <p>
                    The new 30 series of Nvidia RTX GPUs feature a new 12-pin PCIe power connector. And there will be an
                    adapter provided with each card to ensure it fits the present generation PCIe slots. These GPUs also
                    feature AV1 decode, and HDMI 2.1 with support for 8K displays. The new RTX IO framework uses PCIe
                    4.0 to load games faster from SSDs. The new RTX 30 series GPUs are made on a custom 8nm process.
                </p>
                <p>
                    The Founders Edition Nvidia GeForce RTX 3090 and RTX 3080 will require a 750W PSU while RTX 3070
                    will require a minimum of 650W.
                </p>
                <p><b>Nvidia GeForce RTX 30 series: Price and availability</b></p>
                <p>
                    The GeForce RTX 30-Series GPU Prices come as a surprise to everyone. Nvidia had priced the first
                    generation of RTX cards quite high which sold less than expected and hence the new generation has
                    been priced to compete. And the pricing and launch dates seem obvious that the company wants to
                    openly compete with Sony and Microsoft and their next generation consoles coming later this year.
                </p>
                <p>
                    Nvidia is selling the Founders Editions of its GeForce RTX 3090 at Rs 152,000, GeForce RTX 3080 at
                    Rs 71,000, and GeForce RTX 3070 at Rs 51,000 in India. Besides these it has also partnered with
                    Asus, Gigabyte, Zotac, MSI, Galax, Palit, PNY, EVGA, Gainward, and Innovision 3D for custom cards.
                </p>
                <p>
                    The RTX 3070 will go on sale starting at September 24 while the 3080 will go on sale from September
                    17. The new flagship RTX 3090 on the other hand does not have a date but will go on sale sometime in
                    October this year.
                    Other Features and Technologies
                </p>
                <p>
                    <b>Nvidia Reflex</b>
                    Nvidia Reflex is a new suite of technologies that optimize and measure system latency in competitive
                    games. It includes Nvidia Reflex Low-Latency Mode, a new technology to reduce game and rendering
                    latency by up to 50 percent. Reflex is being integrated into top competitive games including Apex
                    Legends, Fortnite, Valorant, Call of Duty: Warzone, Call of Duty: Black Ops Cold War, Destiny 2, and
                    more.
                </p>
                <p>
                    Nvidia Reflex Latency Analyzer, which detects clicks coming from the mouse and then measures the
                    time it takes for the resulting pixels (for example, a gun muzzle flash) to change on the screen.
                    Reflex Latency Analyzer is integrated with new 360Hz Nvidia G-SYNC Esports displays and supported by
                    top esports peripherals from ASUS, Logitech, and Razer, and SteelSeries.
                </p>
                <p>
                    <b>
                        Nvidia Broadcast</b>
                </p>
                <p>The company is introducing a new AI-powered Broadcast app which comes with three new key features.
                    – Noise Removal: remove background noise from your microphone feed – be it a dog barking or the
                    doorbell ringing. The AI network can even be used on incoming audio feeds to mute that one
                    keyboard-mashing friend who won’t turn on push-to-talk.
                </p>
                <p>
                    – Virtual Background: remove the background of your webcam feed and replace it with game footage, a
                    replacement image, or even a subtle blur.
                </p>
                <p>
                    – Auto Frame: zooms in on you and uses AI to track your head movements, keeping you at the centre of
                    the action even as you shift from side to side. It’s like having your own cameraperson.
                </p>
                <p>
                    Besides these there’s RTX I/O which is a suite of technologies that enable rapid GPU-based loading
                    and game asset decompression, accelerating I/O performance by up to 100x compared to hard drives and
                    traditional storage APIs. There’s also Nvidia Machinima which is an easy to use cloud-based app
                    which provides tools to enable gamers’ creativity, for a new generation of high-quality machinima.
                    Nvidia also announced G-Sync 360 Hz Monitors and RTX ready games including Cyberpunk 2077, Fortnite,
                    Call of Duty: Black Ops Cold War, Minecraft RTX, and Watch Dogs: Legion.
                </p>
                <br>
                <br>
            </div>
            <!-- Paragraphs -->
            <!-- Likes Shares Views -->
            <div class="float-right p-2 pr-3">
                <small class="p-0">
                    <button class="btn btn-default btn-sm p-1">Like <span class="fa fa-heart text-danger"></span> 15
                    </button>
                </small>
                <small class="p-0">
                    <button class="btn btn-default btn-sm p-1">Share <span class="fa fa-share text-primary"></span> 6
                    </button>
                </small>
                <small class="p-0 ">
                    <span class="btn btn-default btn-sm p-1">Views <span class="fa fa-eye text-dark"></span> 46 </span>
                </small>
            </div>
            <!-- Likes Shares Views -->
        </div>
    </div>

    <!-- Related News -->
    <div class="row ml-md-4 ml-lg-4 ml-sm-0">
        <h3 class="m-1 darkBlue">RELATED NEWS</h3>
    </div>
    <div class="row ml-md-3 ml-lg-3 ml-sm-0">

        <div class="col-md-9 col-lg-3 col-sm-4 m-md-4 ml-lg-5 ml-md-4 ml-sm-0 p-0 card">
            <div class="card-header m-0 p-0">
                <a href="xboxseriesx.html">
                    <img src="../../img/Xbox-Series-X-and-Series-S.webp"
                         width="100%">
                </a>
                <span class="badge badge-warning rounded-0">Gaming</span>
                <h5 class="p-1"><b><a class="text-dark" href="xboxseriesx.html">Xbox Series X, Series S launching on November 10, prices to start from $299</a></b></h5>

            </div>
            <div class="card-body">
                <p>
                    Microsoft has officially revealed all details about the Xbox Series X and Series S consoles. Both the next-gen models will be available from November 10 starting at a price of $299.

                </p>
            </div>
            <div class="card-footer">
                <a href="xboxseriesx.html" class="btn btn-primary "> Read this</a>
            </div>
        </div>

        <div class="col-md-9 col-lg-3 col-sm-4 m-md-4 p-0 card">

            <div class="card-header m-0 p-0">
                <a href="pubgban.html">
                    <img src="../../img/PUBG-Mobile.jpg"
                         width="100%">
                </a>
                <span class="badge badge-warning rounded-0">Gaming</span>
                <h5 class="p-1"><b><a class="text-dark" href="pubgban.html">PUBG Mobile ban: Why the decision is a stifling one at best</a></b></h5>

            </div>
            <div class="card-body mt-2">
                <p class="pt-2">
                    While the government made the decision to ban PUBG Mobile on grounds of national security, it thought of little else while doing so.

                </p>
            </div>
            <div class="card-footer">
                <a href="pubgban.html" class="btn btn-primary "> Read this</a>

            </div>
        </div>
        <div class="col-md-9 col-lg-3 col-sm-4 m-md-4 p-0 card">

            <div class="card-header m-0 p-0">
                <a href="bestphones2020.html">
                    <img src="https://cdn.mos.cms.futurecdn.net/R4JUHrXr8HnCvFKLsxhe5h-650-80.jpg.webp"
                         width="100%">
                </a>
                <span class="badge badge-warning rounded-0">Gaming</span>
                <h5 class="p-1"><b><a class="text-dark" href="bestphones2020.html">

                    Best phone in the US for 2020: the top 15 smartphones we've tested</a></b></h5>

            </div>
            <div class="card-body mt-2">
                <p class="pt-2">
                    We're constantly updating our best phones list for this reason: to make sure you're buying the absolute top smartphone for your needs. The Samsung Galaxy S20 series shook up our rankings, but also consider the iPhone 11 or Galaxy Note 10.

                </p>
            </div>
            <div class="card-footer">
                <a href="bestphones2020.html" class="btn btn-primary "> Read this</a>

            </div>
        </div>
    </div>
    <!-- Related News -->
</div>



<!--Footer-->
<footer class="page-footer font-small  text-center ">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Grid row-->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 py-5">
                <div class="mb-5 flex-center">

                    <!-- Facebook -->
                    <a class="fb-ic" style="color: cornflowerblue;">
                        <i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic" style="color: cornflowerblue;">
                        <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!-- Google +-->
                    <a class="gplus-ic" style="color: cornflowerblue;">
                        <i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic" style="color: cornflowerblue;">
                        <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic" style="color: cornflowerblue;">
                        <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Pinterest-->
                    <a class="pin-ic" style="color: cornflowerblue;">
                        <i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>
                    </a>
                </div>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-light">© 2020 Copyright: LT News</div>
    <!-- Copyright -->

</footer>
<!-- Footer -->

<!--Script -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<!--Script -->

</body>
</html>