<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/bootstrap-grid.css">
    <link rel="stylesheet" href="../../css/bootstrap-reboot.css">
    <link rel="stylesheet" href="../../fontawesome/css/font-awesome.css">
    <link rel="stylesheet" href="../../fontawesome/css/font-awesome.min.css">
    <style>
        .img :hover {
            border: 1px solid #2f2f2f;

        }

        body {
            background: lightgray;
        }

        .darkBlue {
            color: #000000;
            border-bottom: 5px solid;
            border-color: #b10101;
            font-family: Century, serif;
            font-weight: normal;
        }
    </style>
    <title>LT NEWS!</title>


</head>
<body>
<div class="container p-1 mx-auto">
    <nav class="navbar navbar-expand-lg navbar-dark bg-info p-lg-2 mx-auto justify-content-center">
        <div class="navbar-brand p-1 text-md-center align-content-center">
            <a href="../main.html">
                <img src="../../img/main-logo.jpg" class="rounded-left" width="100px" height="50px">
            </a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 align-items-center">
                <li class="nav-item active">
                    <a class="nav-link" href="../main.html"><b>HOME</b></span></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="MacedonianNews/news.html" id="navbarDropdownMenuLink"
                       role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><b>NEWS</b>
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="navbarDropdownMenuLink">
                        <ul>
                            <a class="dropdown-item" href="../MacedonianNews/Macedonian.html">Macedonian </a>
                            <a class="dropdown-item" href="../WorldNews/World.html">World</a>
                            <a class="dropdown-item" href="../SportNews/Sport.html">Sport</a>
                            <a class="dropdown-item" href="../GamingNews/Gaming.html">Gaming</a>
                        </ul>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <b>LIVE STREAM</b>
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="navbarDropdownMenuLink1">
                        <ul>
                            <a class="dropdown-item" href="#">Macedonian </a>
                            <a class="dropdown-item" href="#">World</a>

                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><b>ABOUT US</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><b>CONTACT</b></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>
<div class="container mt-2 bg-light">
    <div class="row">
        <div class="m-md-4 m-sm-2 col-lg-8 col-sm-12 p-sm-0">
            <h1>
                <a class="darkBlue" href="../../templates/GamingNews/Gaming.html">GAMING NEWS</a>
            </h1>
        </div>

        <div class="col-lg-12 col md-8 col-sm-12 pb-3 p-sm-0">
            <!-- Title -->
            <div class="col-12 pb-3">
                <h2>PUBG Mobile ban: Why the decision is a stifling one at best

                </h2>
            </div>
            <!-- Title -->
            <!-- Image -->
            <div class="col-12 ">
                <img src="https://st1.bgr.in/wp-content/uploads/2020/08/PUBG-Mobile.jpg"
                     width="100%" alt="Card image cap">
            </div>
            <!-- Image -->
            <!-- Paragraphs -->
            <div class="col-12 pt-3">
                <p><b>While the government made the decision to ban PUBG Mobile on grounds of national security, it thought of little else while doing so.
                </b>
                </p>
                <p>
                    The government of India has announced in a new wave of app bans which include 118 names in the list. In this long list are a lot of games among which is PUBG Mobile. Now, while a list of 118 seems like a lot of different apps, all news stories and reporting comes down to the peg that PUBG Mobile was included in this list. And justifiably so, since PUBG Mobile is not just any mobile game, it is the mobile game. Also Read - PUBG Mobile: Grandson uses Rs 2.3 lakh for in-game purchases
                </p>
                <p>
                    Before we get into the current discourse I feel we need to mention how PUBG Mobile came about. PUBG or PlayerUnknown’s Battlegrounds was the brainchild of Brendan ‘PlayerUnknown’ Greene. PUBG like other popular multiplayer games including Counter Strike and Dota 2 evolved from a mod of another game. It was Half-Life in the case of Counter Strike, World of Warcraft for Dota 2, and Arma 3 in the case of PUBG. When the game released it took over the gaming world by a storm in the year 2017. The PC version of the game launched first, followed by the console version and finally PUBG Mobile in February of 2018. Also Read - PUBG Corp cuts ties with Tencent Games in India after PUBG Mobile ban
                </p>
                <p>
                    <b>PUBG Mobile’s success</b>
                </p>
                <p>
                    Video games and competitive gaming (eSports) have long been present in India. However, the term gaming only became popular after PUBG Mobile. PUBG Mobile brought about a revolution in the mobile gaming scene in India. It had players hooked from the day it launched. To be fair there were quite a few battle royale games already available on mobile when PUBG Mobile launched. These battle royale games were poor imitations of the PC version of PUBG that just wanted to cash in on the vacuum that was present in the mobile arena. Also Read - PUBG Ban: 21-year old student hangs self after not being able to play game
                </p>
                <p>
                    But PUBG Mobile blew these competitors out of the water when it launched, and there were a few reasons behind that. What hooked people to PUBG Mobile, to begin with, was that it was immersive beyond what I thought was possible for a mobile game. Sure, the controls took quite of bit of getting used to. And it isn’t as intuitive as quick scoping someone with a mouse on PC, but it is something one could get used to. And Indian players finally had a platform where they were not just kidding around and could actually compete hard. Up until this point, the Indian gaming scene was restricted by the lack of cheap hardware available. With the boom of easily available internet (thanks to Jio) and lowered smartphone prices, PUBG received a boost.
                </p>
                    <br>
                    <br>
            </div>
            <!-- Paragraphs -->
            <!-- Likes Shares Views -->
            <div class="float-right p-2 pr-3">
                <small class="p-0">
                    <button class="btn btn-default btn-sm p-1">Like <span class="fa fa-heart text-danger"></span> 15
                    </button>
                </small>
                <small class="p-0">
                    <button class="btn btn-default btn-sm p-1">Share <span class="fa fa-share text-primary"></span> 6
                    </button>
                </small>
                <small class="p-0 ">
                    <span class="btn btn-default btn-sm p-1">Views <span class="fa fa-eye text-dark"></span> 46 </span>
                </small>
            </div>
            <!-- Likes Shares Views -->
        </div>
    </div>

    <!-- Related News -->
    <div class="row ml-md-4 ml-lg-4 ml-sm-0">
        <h3 class="m-1 darkBlue">RELATED NEWS</h3>
    </div>
    <div class="row ml-md-3 ml-lg-3 ml-sm-0">

        <div class="col-md-9 col-lg-3 col-sm-4 m-md-4 ml-lg-5 ml-md-4 ml-sm-0 p-0 card">
            <div class="card-header m-0 p-0">
                <a href="xboxseriesx.html">
                    <img src="../../img/Xbox-Series-X-and-Series-S.webp"
                         width="100%">
                </a>
                <span class="badge badge-warning rounded-0">Gaming</span>
                <h5 class="p-1"><b><a class="text-dark" href="xboxseriesx.html">Xbox Series X, Series S launching on November 10, prices to start from $299</a></b></h5>

            </div>
            <div class="card-body">
                <p>
                    Microsoft has officially revealed all details about the Xbox Series X and Series S consoles. Both the next-gen models will be available from November 10 starting at a price of $299.

                </p>
            </div>
            <div class="card-footer">
                <a href="xboxseriesx.html" class="btn btn-primary "> Read this</a>
            </div>
        </div>

        <div class="col-md-9 col-lg-3 col-sm-4 m-md-4 p-0 card">

            <div class="card-header m-0 p-0">
                <a href="aplewatch6.html">
                    <img src="https://cdn.mos.cms.futurecdn.net/4Pse7dJqANsUQdZJnXG2XN-650-80.jpg.webp"
                         width="100%">
                </a>
                <span class="badge badge-warning rounded-0">Gaming</span>
                <h5 class="p-1"><b><a class="text-dark" href="aplewatch6.html">Apple Watch 6 release date, price, news and leaks</a></b></h5>

            </div>
            <div class="card-body mt-2">
                <p class="pt-2">
                    The Apple Watch 6 could be about to land, as Apple is holding a launch today (September 15) where it's very likely that it will unveil the device - likely alongside the iPad Air 4, but probably not the iPhone 12.


                </p>
            </div>
            <div class="card-footer">
                <a href="aplewatch6.html" class="btn btn-primary "> Read this</a>

            </div>
        </div>
        <div class="col-md-9 col-lg-3 col-sm-4 m-md-4 p-0 card">

            <div class="card-header m-0 p-0">
                <a href="bestphones2020.html">
                    <img src="https://cdn.mos.cms.futurecdn.net/R4JUHrXr8HnCvFKLsxhe5h-650-80.jpg.webp"
                         width="100%">
                </a>
                <span class="badge badge-warning rounded-0">Gaming</span>
                <h5 class="p-1"><b><a class="text-dark" href="bestphones2020.html">

                    Best phone in the US for 2020: the top 15 smartphones we've tested</a></b></h5>

            </div>
            <div class="card-body mt-2">
                <p class="pt-2">
                    We're constantly updating our best phones list for this reason: to make sure you're buying the absolute top smartphone for your needs. The Samsung Galaxy S20 series shook up our rankings, but also consider the iPhone 11 or Galaxy Note 10.

                </p>
            </div>
            <div class="card-footer">
                <a href="bestphones2020.html" class="btn btn-primary "> Read this</a>

            </div>
        </div>
    </div>
    <!-- Related News -->
</div>



<!--Footer-->
<footer class="page-footer font-small  text-center ">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Grid row-->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 py-5">
                <div class="mb-5 flex-center">

                    <!-- Facebook -->
                    <a class="fb-ic" style="color: cornflowerblue;">
                        <i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic" style="color: cornflowerblue;">
                        <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!-- Google +-->
                    <a class="gplus-ic" style="color: cornflowerblue;">
                        <i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic" style="color: cornflowerblue;">
                        <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic" style="color: cornflowerblue;">
                        <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Pinterest-->
                    <a class="pin-ic" style="color: cornflowerblue;">
                        <i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>
                    </a>
                </div>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-light">© 2020 Copyright: LT News</div>
    <!-- Copyright -->

</footer>
<!-- Footer -->

<!--Script -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<!--Script -->

</body>
</html>