<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/bootstrap-grid.css">
    <link rel="stylesheet" href="../../css/bootstrap-reboot.css">
    <link rel="stylesheet" href="../../fontawesome/css/font-awesome.css">
    <link rel="stylesheet" href="../../fontawesome/css/font-awesome.min.css">
    <style>
        .img :hover {
            border: 1px solid #2f2f2f;

        }

        body {
            background: lightgray;
        }

        .darkBlue {
            color: #000000;
            border-bottom: 5px solid;
            border-color: #b10101;
            font-family: Century, serif;
            font-weight: normal;
        }
    </style>
    <title>LT NEWS!</title>


</head>
<body>
<div class="container p-1 mx-auto">
    <nav class="navbar navbar-expand-lg navbar-dark bg-info p-lg-2 mx-auto justify-content-center">
        <div class="navbar-brand p-1 text-md-center align-content-center">
            <a href="../main.html">
                <img src="../../img/main-logo.jpg" class="rounded-left" width="100px" height="50px">
            </a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 align-items-center">
                <li class="nav-item active">
                    <a class="nav-link" href="../main.html"><b>HOME</b></span></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="MacedonianNews/news.html" id="navbarDropdownMenuLink"
                       role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><b>NEWS</b>
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="navbarDropdownMenuLink">
                        <ul>
                            <a class="dropdown-item" href="../MacedonianNews/Macedonian.html">Macedonian </a>
                            <a class="dropdown-item" href="../WorldNews/World.html">World</a>
                            <a class="dropdown-item" href="../SportNews/Sport.html">Sport</a>
                            <a class="dropdown-item" href="../GamingNews/Gaming.html">Gaming</a>
                        </ul>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <b>LIVE STREAM</b>
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="navbarDropdownMenuLink1">
                        <ul>
                            <a class="dropdown-item" href="#">Macedonian </a>
                            <a class="dropdown-item" href="#">World</a>

                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><b>ABOUT US</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><b>CONTACT</b></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>
<div class="container mt-2 bg-light">
    <div class="row">
        <div class="m-md-4 m-sm-2 col-lg-8 col-sm-12 p-sm-0">
            <h1>
                <a class="darkBlue" href="../../templates/GamingNews/Gaming.html">GAMING NEWS</a>
            </h1>
        </div>

        <div class="col-lg-12 col md-8 col-sm-12 pb-3 p-sm-0">
            <!-- Title -->
            <div class="col-12 pb-3">
                <h2>Xbox Series S and Xbox Series X Launch November 10, Starting at $24.99 a Month with Xbox Game Pass
                    Ultimate and EA Play
                </h2>
            </div>
            <!-- Title -->
            <!-- Image -->
            <div class="col-12 ">
                <img src="https://news.xbox.com/en-us/wp-content/uploads/sites/2/2020/09/XboxSeriesXandS_HERO.jpg?w=1200"
                     width="100%" alt="Card image cap">
            </div>
            <!-- Image -->
            <!-- Paragraphs -->
            <div class="col-12 pt-3">
                <p><b>Microsoft has officially revealed all details about the Xbox Series X and Series S consoles. Both
                    the next-gen models will be available from November 10 starting at a price of $299.</b>
                </p>
                <p>
                    Now more than ever, gaming plays an important role in our lives. As one of the greatest forms of
                    creative expression, gaming sparks in our imagination and connects us to new worlds, stories, and
                    our friends.
                </p>
                <p>
                    On November 10, a new generation of console gaming begins. That’s when our vision becomes reality
                    with the most performant, immersive and compatible next-generation console gaming experiences, and
                    the freedom to play your games with your friends, anytime, anywhere.
                </p>
                <p>
                    We believe that access to the next generation should be available to everyone. And we know that
                    price is an important factor for many of our fans. To complement Xbox Series X and invite more
                    players into the next generation sooner, we built Xbox Series S—an all-digital, next-gen console
                    designed to deliver everything that is core to next-generation gaming – faster load times, higher
                    frame rates, and richer, more dynamic worlds – in our smallest, sleekest Xbox ever. Developing two
                    consoles in parallel from the beginning enables us to deliver the most powerful console ever in Xbox
                    Series X and make next-gen gaming available and affordable to more players on day one with Xbox
                    Series S.
                </p>
                <p>
                    Empowering you with freedom and choice is core to everything we do at Xbox. In addition to the
                    traditional option of purchasing the new generation of Xbox Series X and S at $499 (Estimated Retail
                    Price) and $299 (Estimated Retail Price) respectively, we’re expanding our Xbox All Access program
                    to 12 countries this holiday, with more to come in 2021.
                </p>
                <p>
                    Whether you’re upgrading to the newest consoles or joining the Xbox family for the first time, Xbox
                    All Access is the easiest way to get the best of Xbox. Xbox All Access provides an Xbox Series X, or
                    Series S, along with 24 months of the full Xbox Game Pass Ultimate experience.
                    <br>
                    <br>
            </div>
            <!-- Paragraphs -->
            <!-- Likes Shares Views -->
            <div class="float-right p-2 pr-3">
                <small class="p-0">
                    <button class="btn btn-default btn-sm p-1">Like <span class="fa fa-heart text-danger"></span> 15
                    </button>
                </small>
                <small class="p-0">
                    <button class="btn btn-default btn-sm p-1">Share <span class="fa fa-share text-primary"></span> 6
                    </button>
                </small>
                <small class="p-0 ">
                    <span class="btn btn-default btn-sm p-1">Views <span class="fa fa-eye text-dark"></span> 46 </span>
                </small>
            </div>
            <!-- Likes Shares Views -->
        </div>
    </div>

    <!-- Related News -->
    <div class="row ml-md-4 ml-lg-4 ml-sm-0">
        <h3 class="m-1 darkBlue">RELATED NEWS</h3>
    </div>
    <div class="row ml-md-3 ml-lg-3 ml-sm-0">

        <div class="col-md-9 col-lg-3 col-sm-4 m-md-4 p-0 card">

            <div class="card-header m-0 p-0">
                <a href="pubgban.html">
                    <img src="../../img/PUBG-Mobile.jpg"
                         width="100%">
                </a>
                <span class="badge badge-warning rounded-0">Gaming</span>
                <h5 class="p-1"><b><a class="text-dark" href="pubgban.html">PUBG Mobile ban: Why the decision is a stifling one at best</a></b></h5>

            </div>
            <div class="card-body mt-2">
                <p class="pt-2">
                    While the government made the decision to ban PUBG Mobile on grounds of national security, it thought of little else while doing so.

                </p>
            </div>
            <div class="card-footer">
                <a href="pubgban.html" class="btn btn-primary "> Read this</a>

            </div>
        </div>

        <div class="col-md-9 col-lg-3 col-sm-4 m-md-4 p-0 card">

            <div class="card-header m-0 p-0">
                <a href="aplewatch6.html">
                    <img src="https://cdn.mos.cms.futurecdn.net/4Pse7dJqANsUQdZJnXG2XN-650-80.jpg.webp"
                         width="100%">
                </a>
                <span class="badge badge-warning rounded-0">Gaming</span>
                <h5 class="p-1"><b><a class="text-dark" href="aplewatch6.html">Apple Watch 6 release date, price, news and leaks</a></b></h5>

            </div>
            <div class="card-body mt-2">
                <p class="pt-2">
                    The Apple Watch 6 could be about to land, as Apple is holding a launch today (September 15) where it's very likely that it will unveil the device - likely alongside the iPad Air 4, but probably not the iPhone 12.


                </p>
            </div>
            <div class="card-footer">
                <a href="aplewatch6.html" class="btn btn-primary "> Read this</a>

            </div>
        </div>
        <div class="col-md-9 col-lg-3 col-sm-4 m-md-4 p-0 card">

            <div class="card-header m-0 p-0">
                <a href="bestphones2020.html">
                    <img src="https://cdn.mos.cms.futurecdn.net/R4JUHrXr8HnCvFKLsxhe5h-650-80.jpg.webp"
                         width="100%">
                </a>
                <span class="badge badge-warning rounded-0">Gaming</span>
                <h5 class="p-1"><b><a class="text-dark" href="bestphones2020.html">

                    Best phone in the US for 2020: the top 15 smartphones we've tested</a></b></h5>

            </div>
            <div class="card-body mt-2">
                <p class="pt-2">
                    We're constantly updating our best phones list for this reason: to make sure you're buying the absolute top smartphone for your needs. The Samsung Galaxy S20 series shook up our rankings, but also consider the iPhone 11 or Galaxy Note 10.

                </p>
            </div>
            <div class="card-footer">
                <a href="bestphones2020.html" class="btn btn-primary "> Read this</a>

            </div>
        </div>
    </div>
    <!-- Related News -->
</div>



<!--Footer-->
<footer class="page-footer font-small  text-center ">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Grid row-->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 py-5">
                <div class="mb-5 flex-center">

                    <!-- Facebook -->
                    <a class="fb-ic" style="color: cornflowerblue;">
                        <i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic" style="color: cornflowerblue;">
                        <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!-- Google +-->
                    <a class="gplus-ic" style="color: cornflowerblue;">
                        <i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic" style="color: cornflowerblue;">
                        <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic" style="color: cornflowerblue;">
                        <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Pinterest-->
                    <a class="pin-ic" style="color: cornflowerblue;">
                        <i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>
                    </a>
                </div>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-light">© 2020 Copyright: LT News</div>
    <!-- Copyright -->

</footer>
<!-- Footer -->

<!--Script -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<!--Script -->

</body>
</html>